* {
  font-family: "Outfit", sans-serif;
}

.card {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}
.img-profile {
  width: 150px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}
.card-title {
  margin: 0px;
  color: hsl(0, 0%, 20%);
}

.card-text {
  color: rgb(48, 48, 48);
}
.button {
  background-color: hsl(200, 100%, 50%);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.student {
  font-size: 2em;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.541);
  margin: 1em;
}

.student p {
  margin: 0;
}
.welcome-message {
  font-size: 2.5em;
  background-color: yellowgreen;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 1em;
}

.login-prompt {
  font-size: 2.5em;
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 1em;
}
.list-category {
  font-size: 2.5em;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
  text-align: center;
  border: 3px solid;
  border-radius: 5px;
  background-color: black;
  padding: 1em;
}

.list-items li {
  font-size: 2em;
  list-style: none;
  color: rgba(54, 54, 54, 0.63);
  text-align: center;
  margin: 0px;
}

.list-items li:hover {
  color: black;
  cursor: pointer;
}

.counter-container {
  text-align: center;
}
.count-display {
  font-size: 10em;
  margin-top: 0;
  margin-bottom: 50px;
}
.counter-button {
  width: 150px;
  height: 50px;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0px 5px;
  background-color: rgb(0, 162, 255);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.counter-button:hover {
  background-color: rgb(5, 141, 219);
}

.color-picker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.color-picker-container h1 {
  margin: 50px;
  font-size: 3em;
}

.color-display {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid lightgray;
  border-radius: 25px;
  margin-bottom: 25px;
  transition: 0.25s ease;
}
.color-display p {
  color: rgb(51, 51, 51);
  font-size: 2rem;
  text-align: center;
}
.color-picker-container label {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}
input[type="color"] {
  height: 50px;
  width: 75px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid green;
}
