* {
  font-family: "Outfit", sans-serif;
}

.card {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}
.img-profile {
  width: 150px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}
.card-title {
  margin: 0px;
  color: hsl(0, 0%, 20%);
}

.card-text {
  color: rgb(48, 48, 48);
}
.button {
  background-color: hsl(200, 100%, 50%);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.student {
  font-size: 2em;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.541);
  margin: 1em;
}

.student p {
  margin: 0;
}
.welcome-message {
  font-size: 2.5em;
  background-color: yellowgreen;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 1em;
}

.login-prompt {
  font-size: 2.5em;
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 1em;
}
.list-category {
  font-size: 2.5em;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
  text-align: center;
  border: 3px solid;
  border-radius: 5px;
  background-color: black;
  padding: 1em;
}

.list-items li {
  font-size: 2em;
  list-style: none;
  color: rgba(54, 54, 54, 0.63);
  text-align: center;
  margin: 0px;
}

.list-items li:hover {
  color: black;
  cursor: pointer;
}

.counter-container {
  text-align: center;
}
.count-display {
  font-size: 10em;
  margin-top: 0;
  margin-bottom: 50px;
}
.counter-button {
  width: 150px;
  height: 50px;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0px 5px;
  background-color: rgb(0, 162, 255);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.counter-button:hover {
  background-color: rgb(5, 141, 219);
}

.color-picker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.color-picker-container h1 {
  margin: 50px;
  font-size: 3em;
}

.color-display {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid lightgray;
  border-radius: 25px;
  margin-bottom: 25px;
  transition: 0.25s ease;
}
.color-display p {
  color: rgb(51, 51, 51);
  font-size: 2rem;
  text-align: center;
}
.color-picker-container label {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}
input[type="color"] {
  height: 50px;
  width: 75px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid green;
}
.to-do-list {
  text-align: center;
  margin-top: 100px;
  background-color: rgba(12, 12, 12, 0.822);
  width: 70%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 4rem;
  border-radius: 10px;
}

.to-do-list h1 {
  font-size: 4rem;
}

.todo-button {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5 ease;
  margin: 0.5rem;
}

.add-button {
  background-color: rgb(104, 155, 2);
}
.add-button:hover {
  background-color: rgb(88, 131, 2);
}

.delete-button {
  background-color: rgb(233, 2, 22);
}
.delete-button:hover {
  background-color: rgb(196, 4, 20);
}
.move-up-button {
  background-color: rgb(4, 147, 204);
}
.move-up-button:hover {
  background-color: rgb(15, 160, 218);
}

.move-down-button {
  background-color: rgb(4, 147, 204);
}
.move-down-button:hover {
  background-color: rgb(15, 160, 218);
}

.to-do-input {
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid gray;
  border-radius: 5px;
  color: rgb(63, 62, 62);
}

.to-do-list ol {
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.to-do-list ol li {
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: rgb(228, 228, 228);
  margin-bottom: 10px;
  border: 3px solid lightgray;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.text {
  flex: 1;
  color: black;
}

.delete-button,
.move-down-button,
.move-up-button {
  padding: 8px;
  font-size: 1.4rem;
  margin-left: 10px;
}

.body {
  background-image: url(assets/dardevcall.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  height: 500px;
}
.clock-container {
  backdrop-filter: blur(5px);
  margin: 4rem;
}
.clock {
  color: white;
  font-size: 6rem;
  font-weight: bold;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.76);
  text-align: center;
}
.component-box {
  border: 3px solid black;
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
  margin: 1rem;
}

.ref-container-buttonInput {
  background-color: rgb(218, 218, 218);
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 4rem;
  border-radius: 5px;
}

.ref-container-buttonInput input,
.ref-container-buttonInput button {
  margin: 0.5rem;
  padding: 1rem;
  text-align: center;
}

.ref-container-buttonInput button {
  border: none;
  font-weight: bold;
  background-color: rgb(247, 4, 65);
  color: white;
  transition: all 0.2s ease;
  border-radius: 3px;
}
.ref-container-buttonInput button:hover {
  background-color: rgb(219, 29, 77);
  transform: scale(1.02);
}

.stopwatch-container {
  background-color: rgb(18, 1, 31);
  color: white;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.stopwatch-container h1 {
  font-size: 7rem;
}

.stopwatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid;
  border-radius: 50px;
  background-color: white;
  padding: 30px;
}

.display {
  color: black;
}

.start-button {
  background-color: yellowgreen;
  border: none;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  padding: 1rem 3rem;
  margin: 5px;
  cursor: pointer;
}
.start-button:hover {
  background-color: rgb(149, 214, 19);
}

.stop-button {
  background-color: rgb(236, 30, 58);
  border: none;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  padding: 1rem 3rem;
  margin: 5px;
  cursor: pointer;
}

.stop-button:hover {
  background-color: rgb(255, 27, 57);
}

.reset-button {
  background-color: rgb(0, 183, 255);
  border: none;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  padding: 1rem 3rem;
  margin: 5px;
  cursor: pointer;
}

.reset-button:hover {
  background-color: rgb(61, 200, 255);
}
